wifi_ssid: "example_ssid"
wifi_password: "secret_password"
wifi_gateway: 1.2.3.1
wifi_subnet: 255.255.255.0
wifi_domain: .example.com

beerbutton_api_password: "generated_random_password"
beerlight_api_password: "generated_random_password"
shelly_1_c4eaa5_api_password: "generated_random_password"
sonoff_1645_api_password: "generated_random_password"
